/asd.class
/ArrayListOrnek1.class
/ArrayListOrnek2.class
/StackOrnek1.class
/StackOrnek2.class
/QueueOrnek1.class
/QueueOrnek2.class
/SetOrnek.class
/MapOrnek1.class
/MapOrnek2.class
/QueueOrnek3.class
/Musteri.class
/Hasta.class
/Main.class
/MainHasta.class
